@page "/"
@inject NavigationManager NavManager
@inherits AgendaBase

@if (Shows == null)
{
    <h3>Loading shows..</h3>
} else
{
    DateTime today = DateTime.Now;
    <h3>Agenda</h3>

    <div class="d-grid">
        <div class="row-cols-7">
            <button class="col-xs-4" onclick="@(() => GetShowByDay(today))">Vandaag</button>
            <button class="col-xs-4" onclick="@(() => GetShowByDay(today.AddDays(1)))">@today.AddDays(1).ToString("dd MMM")</button>
            <button class="col-xs-4" onclick="@(() => GetShowByDay(today.AddDays(2)))">@today.AddDays(2).ToString("dd MMM")</button>
            <button class="col-xs-4" onclick="@(() => GetShowByDay(today.AddDays(3)))">@today.AddDays(3).ToString("dd MMM")</button>
            <button class="col-xs-4" onclick="@(() => GetShowByDay(today.AddDays(4)))">@today.AddDays(4).ToString("dd MMM")</button>
        </div>
    </div>

    <QuickGrid Items="@MoviesWithDates.AsQueryable()">
        <PropertyColumn Title="" Property="@(s => s.MovieTitle)" />
        <TemplateColumn Title="">
            @for (int i = 0; i < context.Dates.Count; i++)
            {
                <button onclick="@(() => Redirect(context.MovieId))">@context.Dates[i].ToString("H:mm")</button>
            }
        </TemplateColumn>
    </QuickGrid>
}

@code {
    void Redirect(int movieId) => NavManager.NavigateTo("/details/{movieId}");
}
