@using dotnetflix.Models.Dtos.Movie
@using dotnetflix.Models.Dtos.Show
@using System.Globalization
@using dotnetflix.Web.Services

<FluentGrid Justify="JustifyContent.FlexStart">
    <FluentGridItem Style="min-width: 200px;">
        <img src="/images/@MovieImage" class="img-fluid rounded" alt="..." style="max-height: 250px;">
    </FluentGridItem>
    <FluentGridItem>
        <h5 class="card-title">@MovieTitle</h5>
        <p class="card-text" style="max-width: 500px">@MovieDescription</p>
        <p class="card-text">
            <small class="text-body-secondary">Run time: @Movie?.Runtime min</small>
        </p>
        <p class="card-text">
            <small class="text-body-secondary">Rating: @Movie?.Rating</small>
        </p>
        <small class="text-body-secondary">First shown: @FirstShowDate days ago</small>
    </FluentGridItem>
</FluentGrid>

@if (Show != null)
{
    <FluentCard>
        <h5 class="card-title text-black">@StartTime - @EndTime</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">@Show.TheaterName</h6>
        <p class="card-text">@Show.Type</p>
        <p class="card-text">
            <small class="text-body-secondary">From @Price.ToString(format: "C", provider: new CultureInfo("nl-NL")).Replace(".", ",")</small>
        </p>
    </FluentCard>
}

@code {

    // Parameter to be passed to the component
    [Parameter] public MovieDto? Movie { get; set; }
    [Parameter] public ShowDto? Show { get; set; }
    [Parameter] public string? StartTime { get; set; }
    [Parameter] public string? EndTime { get; set; }

    [Parameter] public bool? IsSneakPreview { get; set; } = false;
    [Parameter] public string MovieTitle { get; set; } = "Loading...";
    [Parameter] public string MovieDescription { get; set; } = "Loading...";
    [Parameter] public string MovieImage { get; set; } = "no-cover.jpg";
    [Parameter] public decimal Price { get; set; }

    [Inject] public IShowService? ShowService { get; set; }

    private IEnumerable<ShowDto>? Shows { get; set; }
    private int FirstShowDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Show != null)
        {
            // Set sneak preview property
            IsSneakPreview = Show.SneakPreview;
            // Convert date to time in 24-hour format
            StartTime = Show.Date.ToString("HH:mm");
            // Get end time by adding screen time to start time
            EndTime = Show.Date.AddMinutes(Show.ScreenTime).ToString("HH:mm");
            // Set price
            if (Show.SneakPreview)
            {
                Price = Show.BasePrice - 2.5m;
            }
            else
            {
                Price = Show.BasePrice;
            }
        }

        // If the component is a sneak preview, set title and description
        if (IsSneakPreview == true)
        {
            MovieImage = "sneak-preview.jpg";
            MovieTitle = "Sneak preview";
            MovieDescription = "A sneak preview is a preview of a movie that hasn't been released yet. It's a surprise which movie will be shown.";
        }
        else
        {
            if (Movie != null)
            {
                MovieImage = Movie.Image;
                MovieTitle = Movie.Title + " (" + Movie.Year + ")";
                MovieDescription = Movie.Description;
            }
        }

        if (Show != null)
        {
            // Convert date to time in 24-hour format
            StartTime = Show.Date.ToString("HH:mm");
            // Get end time by adding screen time to start time
            EndTime = Show.Date.AddMinutes(Show.ScreenTime).ToString("HH:mm");
        }

        if (ShowService != null)
        {
            Shows = await ShowService.GetShows();
        }

        var firstShow = Shows?.Where(s => s.MovieId == Movie?.Id).Select(s => s.Date).Min();
        FirstShowDate = (firstShow != null) ? DateTime.Now.DayOfYear - firstShow.Value.DayOfYear : 0;
    }

}