@using static dotnetflix.Web.Pages.Agenda.Agenda




<FluentDataGrid Virtualize="true" ItemSize="54" GridTemplateColumns="1fr 1fr 2fr" Items="@MoviesWithDates.AsQueryable()">

    @* Title Column *@
    <PropertyColumn Style="font-size: 20px;" Title="" Property="@(s => s.MovieTitle)"></PropertyColumn>

    @* Movie info Column *@
    <TemplateColumn>
        <FluentButton IconStart="@(new Icons.Regular.Size16.Info())" Appearance="Appearance.Accent" style="width: 30px; height: 30px;" OnClick="@(() => GetMovieDetails(context.MovieId))">
        </FluentButton>
    </TemplateColumn>

    @* Dates Column *@
    <TemplateColumn Title="">
        @for (int i = 0; i < context.ShowIds.Count; i++)
        {
            int id = context.ShowIds[i];
            <button id="@id" class="btn btn-light p-2 m-2" onclick="@(() => Redirect(id))">
                <FluentIcon Value="@(new Icons.Regular.Size16.TicketDiagonal())" />
                @context.Dates[i].ToString("H:mm")
            </button>
        }
    </TemplateColumn>
</FluentDataGrid>

@code {


    [Parameter]
    public IQueryable<MovieWithDates> { get; set; };
}
