<FluentFooter Style="padding: 24px">
    <FluentGridItem Gap="10px" Class="link2">
        <h5 style="text-align: center">Find us on social media</h5>
        <FluentAnchor Href="@_urlInstagram" Target="_blank">
            <i class="bi bi-instagram"></i>
        </FluentAnchor>
        <FluentAnchor Href="@_urlFacebook" Target="_blank">
            <i class="bi bi-facebook"></i>
        </FluentAnchor>
        <FluentAnchor Href="@_urlTiktok" Target="_blank">
            <i class="bi bi-tiktok"></i>
        </FluentAnchor>
        <FluentAnchor Href="@_urlPathe" Target="_blank">
            <i class="bi bi-youtube"></i>
        </FluentAnchor>
        <FluentAnchor Href="@_urlTwitter" Target="_blank">
            <i class="bi bi-twitter-x"></i>
        </FluentAnchor>
    </FluentGridItem>
</FluentFooter>

@code {
    private string _urlInstagram = "https://www.instagram.com/pathenederland/";
    private string _urlFacebook = "https://www.facebook.com/pathenederlandd";
    private string _urlTiktok = "https://www.tiktok.com/@pathenederland";
    private string _urlPathe = "https://www.youtube.com/@pathenederland";
    private string _urlTwitter = "https://twitter.com/Pathenederland";
}