@page "/manager/orders"
@using dotnetflix.Models.Dtos.Order
@using dotnetflix.Models.Dtos
@inject HttpClient Http

<h3>Manager: @Localizer["Orders"]</h3>
<NavigationHeader />    

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["OrderPageDetails"]</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var order in Orders)
            {
                <tr @onclick="() => SelectOrder(order)" class="@(SelectedOrder.Id == order.Id ? "selected-order" : "new-order")">
                    <td>@order.Id, @order.TotalPrice, @order.Uuid, @order.CustomerName, @order.CustomerEmail</td>
                </tr>
            }
            <tr @onclick="() => SelectOrder()" class="new-order">
                    <td>@Localizer["OrderPageAddNewOrder"]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        @if (SelectedOrder.Id < 1)
        {
            <h4>@Localizer["OrderPageAddNewOrder"]</h4>
            <EditForm Model="SelectedOrder" OnValidSubmit="NewOrderSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="form-group">
                    <label for="totalPrice">@Localizer["TotalPrice"]</label>
                    <InputNumber id="totalPrice" class="form-control" @bind-Value="SelectedOrder.TotalPrice" />
                </div>
                
                <div class="form-group">
                    <label for="selectedTicketIds">Tickets</label>
                    <select id="selectedTicketIds" class="form-control" multiple @onchange="UpdateSelectedTickets">
                        @foreach (var ticket in Tickets.Where(t => t.OrderId == null))
                        {
                            <option value="@ticket.Id">@ticket.Id, @ticket.ShowTime, @ticket.Movie, @ticket.TheaterName</option>
                        }
                    </select>
                </div>
                

                <div class="form-group">
                    <label for="uuid">UUID</label>
                    <InputText id="uuid" class="form-control" @bind-Value="SelectedOrder.Uuid" />
                </div>

                <div class="form-group">
                    <label for="customerName">@Localizer["CustomerName"]</label>
                    <InputText id="customerName" class="form-control" @bind-Value="SelectedOrder.CustomerName" />
                </div>

                <div class="form-group">
                    <label for="customerEmail">@Localizer["CustomerEmail"]</label>
                    <InputText id="customerEmail" class="form-control" @bind-Value="SelectedOrder.CustomerEmail" />
                </div>

                <button type="submit" class="btn btn-primary">@Localizer["Add"]</button>
            </EditForm>
        }
        else
        {
            <h4>Update Order</h4>
            <EditForm Model="SelectedOrder" OnValidSubmit="UpdateOrderSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="form-group">
                    <label for="totalPrice">@Localizer["TotalPrice"]</label>
                    <InputNumber id="totalPrice" class="form-control" @bind-Value="SelectedOrder.TotalPrice" />
                </div>
                
                <div class="form-group">
                    <label>@Localizer["OrderPageCurrentTickets"]</label>
                    @foreach (var ticketId in SelectedOrder.TicketIds)
                    {
                        var ticket = Tickets.FirstOrDefault(t => t.Id == ticketId);
                        if (ticket != null)
                        {
                            <p>@ticket.Id, @ticket.ShowTime, @ticket.Movie, @ticket.TheaterName</p>
                        }
                    }
                </div>

                <div class="form-group">
                    <label for="selectedTicketIds">@Localizer["OrderPageSelectedWantedTickets"]</label>
                    <select id="selectedTicketIds" class="form-control" multiple @onchange="UpdateSelectedTickets">
                        @foreach (var ticket in Tickets.Where(t => t.OrderId == null || t.OrderId == SelectedOrder.Id))
                        {
                            <option value="@ticket.Id">@ticket.Id, @ticket.ShowTime, @ticket.Movie, @ticket.TheaterName</option>
                        }
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="uuid">UUID</label>
                    <InputText id="uuid" class="form-control" @bind-Value="SelectedOrder.Uuid"/>
                </div>

                <div class="form-group">
                    <label for="customerName">@Localizer["CustomerName"]</label>
                    <InputText id="customerName" class="form-control" @bind-Value="SelectedOrder.CustomerName" />
                </div>

                <div class="form-group">
                    <label for="customerEmail">@Localizer["CustomerEmail"]</label>
                    <InputText id="customerEmail" class="form-control" @bind-Value="SelectedOrder.CustomerEmail" />
                </div>

                <button type="submit" class="btn btn-primary">@Localizer["Update"]</button>
            </EditForm>
            <button class="btn btn-danger" @onclick="DeleteOrderSubmit">@Localizer["Delete"]</button>
        }
    </div>
</div>

@code {
    [Inject] public IStringLocalizer<MyStrings> Localizer { get; set; }

    List<TicketDto> Tickets = new List<TicketDto>();
    List<OrderDto> Orders = new List<OrderDto>();
    OrderDto SelectedOrder = new OrderDto();
    UpdateOrderDto EditOrder = new UpdateOrderDto();
    AddOrderDto NewOrder = new AddOrderDto();

    protected override async Task OnInitializedAsync()
    {
        Orders = await Http.GetFromJsonAsync<List<OrderDto>>("api/order");
        Tickets = await Http.GetFromJsonAsync<List<TicketDto>>("api/ticket");
        SelectOrder();
    }

    private void SelectOrder(OrderDto order)
    {
        // Create a copy of the selected order
        SelectedOrder = new OrderDto
        {
            Id = order.Id,
            TicketIds = order.TicketIds,
            TotalPrice = order.TotalPrice,
            Uuid = order.Uuid,
            CustomerName = order.CustomerName,
            CustomerEmail = order.CustomerEmail
        };
    }

    private void SelectOrder()
    {
        SelectedOrder = new OrderDto
        {
            Id = 0,
            CustomerName = string.Empty,
            CustomerEmail = string.Empty
        };
    }

    private async Task NewOrderSubmit()
    {
        NewOrder = new AddOrderDto
        {
            TicketIds = SelectedOrder.TicketIds,
            Uuid = SelectedOrder.Uuid,
            CustomerName = SelectedOrder.CustomerName,
            CustomerEmail = SelectedOrder.CustomerEmail
        };

        var response = await Http.PostAsJsonAsync("api/order", NewOrder);

        if (response.IsSuccessStatusCode)
        {
            Orders = await Http.GetFromJsonAsync<List<OrderDto>>("api/order");
            SelectOrder();
            StateHasChanged();
        }
    }

    private async Task UpdateOrderSubmit()
    {
        EditOrder = new UpdateOrderDto
        {
            TicketIds = SelectedOrder.TicketIds,
            TotalPrice = SelectedOrder.TotalPrice,
            Uuid = SelectedOrder.Uuid,
            CustomerName = SelectedOrder.CustomerName,
            CustomerEmail = SelectedOrder.CustomerEmail
        };

        var response = await Http.PutAsJsonAsync($"api/order/{SelectedOrder.Id}", EditOrder);

        if (response.IsSuccessStatusCode)
        {
            Orders = await Http.GetFromJsonAsync<List<OrderDto>>("api/order");
            SelectOrder();
            StateHasChanged();
        }
    }

    private async Task DeleteOrderSubmit()
    {
        var response = await Http.DeleteAsync($"api/order/{SelectedOrder.Id}");

        if (response.IsSuccessStatusCode)
        {
            Orders = await Http.GetFromJsonAsync<List<OrderDto>>("api/order");
            SelectOrder();
            StateHasChanged();
        }
    }
    
    private void UpdateSelectedTickets(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            SelectedOrder.TicketIds = ((string[])e.Value).Select(int.Parse).ToList();
        }
    }
}
